@import "/styles/_base.css";
@import "/styles/_layout.css";

#app-title {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f08064;
  color: white;
}

main section.card {
  border: 1px solid gray;
  padding: 1rem;
  position: relative;
  margin-top: 1rem;
}

main section.card .bookmark-icon {
  position: absolute;
  top: -15px;
  right: 15px;
  font-size: 2.5rem;
}
